
.title{
  color: rgb(2, 2, 2);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-body.price{
  border-radius:4rem;
}
section.price{
  background: linear-gradient(to right,rgb(9, 93, 150),rgb(53, 170, 160),rgb(39, 39, 219))
}
.card-price .period_price {
  font-size: 0.8rem;
}
.fa-ul {
  padding-left:1em;
}

.fa-li {
  position:relative;
  left: -2em;
}
.btn{
  border-radius: 3rem;
  background: linear-gradient(to right,rgb(7, 164, 226),rgb(28, 223, 213),rgb(9, 89, 165));
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(12, 12, 11);
}